<logo>
	<img src="assets/images/_ReevooLogo.png" />
</logo>
<nav>
    <ul>
        <li><a ng-link="['Shop']">Shop</a></li>
        <li><a ng-link="['About']">About</a></li>
<!--         <li><a>Home</a></li>
        <li><a>CEVA</a></li>
        <li><a>ALTCEVA</a></li>
        <li><a>Contact</a></li> -->
    </ul>
</nav>
