top-nav {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // padding:10px;
    // color: white;
    width: 100%;
    height: 69px;
    background-color: #FFF;
    border-bottom: 1px solid rgb(255, 160, 0);
    logo {
        flex: 1 0 auto;
        display: inline;
        margin-left: 35px;
        img {
            weight: 120px;
            height: 29px;
        }
    }
    nav {
        ul {
            padding: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            li {
                display: inline;
                padding: 0px 10px;
                a,
                a:visited {
                    text-decoration: underline;
                    font-family: museosans-medium !important;
                    font-size: 12px;
                    text-transform: uppercase;
                    text-decoration: none;
                    transition: 0.5s linear color;
                    color: rgb(35, 35, 35);
                }
                a:hover {
                    color: #FFA000;
                    transition: .3s linear color;
                }
            }
        }
    }
}
