/* Component LESS */

// @import "components/fumamApp/fumamApp.less";
// @import "components/topNav/topNav.less";
@import "components/reevooShopApp/reevooShopApp.less";
@import "components/topNav/topNav.less";
@import "shop/shop.less";
@import "components/about/about.less";

/* Add Component LESS Above */

html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    // font-family: 'Open Sans', sans-serif !important;
    font-family: 'museosans-lite', sans-serif !important;
    font-weight: 400;
    font-size: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #FFF;
    color: rgb(0, 0, 0);
}


/* latin */

/*@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url(assets/fonts/OpenSans400.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'Open Sans Light';
    font-style: normal;
    font-weight: 400;
    src: url(assets/fonts/OpenSansLight300.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}*/

@font-face {
    font-family: 'museosans-medium';
    src: url(assets/fonts/museosans-medium-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: museosans-bold;
    src: url(assets/fonts/museosans-bold-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: museosans-lite;
    src: url(assets/fonts/museosans-lite-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal
}
