/* Component LESS */
reevoo-shop-app main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
reevoo-shop-app main-content panes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}
reevoo-shop-app main-content panes pane[main] {
  flex: 1 0 auto;
  height: 100%;
  overflow-y: none;
  padding: 50px;
}
reevoo-shop-app main-content panes pane[main] h1 {
  font-family: museosans-medium;
  font-size: 40px;
  margin: 0;
}
reevoo-shop-app main-content panes pane[main] h1::after {
  display: block;
  content: "";
  width: 60px;
  height: 4px;
  margin-top: 40px;
  margin-bottom: 40px;
  border-bottom-color: #ffa000 !important;
  border-bottom-width: 4px;
  border-bottom-style: solid;
}
reevoo-shop-app main-content panes pane[main] section {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  /*&:nth-of-type(1) {
                            flex: 1 1 auto;
                        }*/
}
reevoo-shop-app main-content panes pane[shoppingCart] {
  flex: 0 0 300px;
  min-width: 300px;
}
top-nav {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 69px;
  background-color: #FFF;
  border-bottom: 1px solid #ffa000;
}
top-nav logo {
  flex: 1 0 auto;
  display: inline;
  margin-left: 35px;
}
top-nav logo img {
  weight: 120px;
  height: 29px;
}
top-nav nav ul {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
top-nav nav ul li {
  display: inline;
  padding: 0px 10px;
}
top-nav nav ul li a,
top-nav nav ul li a:visited {
  text-decoration: underline;
  font-family: museosans-medium !important;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s linear color;
  color: #232323;
}
top-nav nav ul li a:hover {
  color: #FFA000;
  transition: .3s linear color;
}
/* Component LESS */
front-end {
  min-width: 500px;
  overflow-y: none;
}
front-end h2 {
  font-family: museosans-bold;
  font-size: 24px;
  margin: 0;
}
item-list p {
  font-family: museosans-lite;
  font-size: 18px;
}
item-list list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
item-row item {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 400px;
  width: 98%;
  border-bottom: 1px dotted #ffa000;
  padding: 10px;
}
item-row item pic {
  flex: 1 1 40px;
  display: block;
  width: 120px;
  height: 80px;
  max-width: 120px;
  padding: 10px;
}
item-row item pic img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
item-row item product {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
item-row item product name {
  font-family: museosans-bold;
}
item-row item product description {
  font-style: italic;
}
item-row item price {
  flex: 0 0 40px;
  font-style: italic;
  padding-right: 5px;
}
item-row item actions {
  flex: 0 0 80px;
  margin: 3px;
}
item-row item actions button {
  height: 50px;
  width: 80px;
  margin-right: 10px;
}
item-row item actions button img {
  width: 40px;
  height: 40px;
}
item-row item.adding {
  background-color: lightgreen;
}
item-row item.adding-add,
item-row item.adding-remove {
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
}
shopcart {
  min-width: 300px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  border-left: darkgray 3px solid;
  background-color: #EEE;
  height: 100%;
  padding: 10px;
}
shopcart header {
  flex: 0 0 80px;
}
shopcart header logo {
  display: block;
  width: 80px;
  height: 80px;
}
shopcart header logo svg path,
shopcart header logo svg circle {
  fill: #ffa000;
}
shopcart items {
  flex: 0 0 165px;
}
shopcart items table-header {
  min-width: 200px;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: wheat;
  border-bottom: 1px solid #DDD;
}
shopcart items table-header > * {
  font-family: museosans-bold;
}
shopcart items table-header pic {
  flex: 0 0 40px;
  margin: 5px;
}
shopcart items table-header product {
  flex: 0 0 80px;
}
shopcart items table-header qty {
  flex: 0 0 30px;
  display: block;
  widht: 30px;
  text-align: center;
}
shopcart items table-header price {
  flex: 0 0 40px;
}
shopcart items table-header actions {
  flex: 0 0 30px;
  margin: 3px;
}
shopcart message {
  flex: 0 0 150px;
  font-weight: bold;
  font-style: italic;
}
shopcart summary {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  margin-top: 10px;
  font-family: museosans-bold;
}
shopcart summary sumOfItems,
shopcart summary discount,
shopcart summary total {
  width: 80%;
  display: flex;
  flex-layout: row;
  justify-content: space-between;
}
shopcart summary discount strong {
  text-decoration: line-through;
  color: red;
}
shopcart summary total strong {
  color: green;
}
shopping-cart-item {
  /*&.ng-enter,
    &.ng-enter-active {
        opacity: 0.9;
        // padding-left: 50px;
        background-color: lighten(green, 10%);
        transition: all ease 450ms;
    }*/
}
shopping-cart-item item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  min-width: 200px;
  width: 90%;
  border-bottom: 1px dotted #ffa000;
  font-size: 0.8em;
}
shopping-cart-item item pic {
  flex: 0 0 40px;
  display: block;
  margin: 5px;
}
shopping-cart-item item pic img {
  width: 40px;
  height: 30px;
  border-radius: 10px;
}
shopping-cart-item item product {
  flex: 0 0 80px;
  display: flex;
  flex-direction: column;
}
shopping-cart-item item product name {
  font-style: strong;
  font-size: 14px;
}
shopping-cart-item item product description {
  font-style: italic;
}
shopping-cart-item item qty {
  flex: 0 0 30px;
  text-align: center;
}
shopping-cart-item item price {
  flex: 0 0 40px;
  text-align: right;
}
shopping-cart-item item actions {
  flex: 0 0 30px;
  margin: 3px;
}
shopping-cart-item item actions button {
  height: 30px;
  width: 30px;
  border-radius: 3px;
  border: none;
  background-color: transparent;
}
shopping-cart-item item actions button text {
  color: red;
}
shopping-cart-item item actions button img {
  width: 15px;
  height: 15px;
}
shopping-cart-item item.removing {
  background-color: #ff3333;
}
shopping-cart-item item.removing-add,
shopping-cart-item item.removing-remove {
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
}
/* Add Component LESS Above */
about section h2 {
  font-family: museosans-bold;
  font-size: 24px;
  margin: 0;
}
about section description {
  font-family: museosans-lite;
  font-size: 14px;
}
/* Add Component LESS Above */
html {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'museosans-lite', sans-serif !important;
  font-weight: 400;
  font-size: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #FFF;
  color: #000000;
}
/* latin */
/*@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url(assets/fonts/OpenSans400.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'Open Sans Light';
    font-style: normal;
    font-weight: 400;
    src: url(assets/fonts/OpenSansLight300.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}*/
@font-face {
  font-family: 'museosans-medium';
  src: url(assets/fonts/museosans-medium-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: museosans-bold;
  src: url(assets/fonts/museosans-bold-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: museosans-lite;
  src: url(assets/fonts/museosans-lite-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
