<p>Choose from our wide selection of 3 refreshing products:</p>
<list>
    <item-row ng-repeat="item in $ctrl.items" item="item" item-index="$index"></item-row>
</list>
<p><i>Beware: major discounts may take you by surprise</i></p>
