<shopcart>
    <header>
        <logo>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
                <g>
                    <path fill="#000000" d="M79.966,63.285H29.506c-1.888,0-3.519-1.32-3.912-3.167l-7.722-36.271l-7.251-0.537   c-2.203-0.164-3.857-2.082-3.694-4.285c0.163-2.204,2.091-3.857,4.285-3.694l10.244,0.759c1.773,0.131,3.247,1.417,3.617,3.156   l7.673,36.039h43.991l5.771-26.794c0.464-2.16,2.6-3.537,4.752-3.068c2.16,0.465,3.533,2.593,3.068,4.752l-6.45,29.951   C83.479,61.97,81.851,63.285,79.966,63.285z"></path>
                </g>
                <circle fill="#000000" cx="38.232" cy="76.379" r="7.967"></circle>
                <circle fill="#000000" cx="71.873" cy="76.379" r="7.967"></circle>
                <g>
                    <path fill="#000000" d="M73.326,37.766H36.146c-2.209,0-4-1.791-4-4s1.791-4,4-4h37.181c2.209,0,4,1.791,4,4   S75.535,37.766,73.326,37.766z"></path>
                </g>
                <g>
                    <path fill="#000000" d="M70.671,50.406h-31.87c-2.209,0-4-1.791-4-4s1.791-4,4-4h31.87c2.209,0,4,1.791,4,4   S72.88,50.406,70.671,50.406z"></path>
                </g>
            </svg>
        </logo>
    </header>
    <items ng-show="$ctrl.items.length">        
        <table-header>
            <pic>&nbsp;</pic>
            <product>
                Item
            </product>
            <qty>Qty</qty>
            <price>Price</price>
            <actions>&nbsp;</actions>
        </table-header>
        <shopping-cart-item ng-show="$ctrl.items.length" ng-repeat="item in $ctrl.items track by $index " item="item"></shopping-cart-item>
    </items>
    <message ng-show="!$ctrl.items.length">
        Your shopping cart is empty
    </message>
    <summary ng-show="$ctrl.items.length">
        <sumOfItems>Total: <strong>{{$ctrl.shopCartSumary.sumOfItems | currency}}</strong></sumOfItems>
        <discount ng-show="$ctrl.shopCartSumary.discount">Discount: <strong>{{$ctrl.shopCartSumary.discount  | currency}}</strong></discount>
        <total ng-show="$ctrl.shopCartSumary.discount">Final price: <strong>{{$ctrl.shopCartSumary.toPay  | currency}}</strong></total>
    </summary>
    <actions>
            <button ng-show="$ctrl.items.length" ng-click="$ctrl.emptyCart()">Empty Cart</button>
        </actions>
</shopcart>
