@shopcart-MinWidth: 300px;
@shopcart-MaxWidth: 400px;
shopcart {
    min-width: @shopcart-MinWidth;
    max-width: @shopcart-MaxWidth;
    display: flex;
    flex-direction: column;
    border-left: darkgray 3px solid;
    background-color: #EEE;
    height: 100%;
    padding: 10px;
    header {
        flex: 0 0 80px;
        logo {
            display: block;
            width: 80px;
            height: 80px;
            svg {
                path,
                circle {
                    fill: rgb(255, 160, 0);
                }
            }
        }
    }
    items {
        flex: 0 0 165px;
        table-header {
            min-width: 200px;
            width: 90%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            background-color: wheat;
            border-bottom: 1px solid #DDD;
            & > * {
                // border: 1px red dotted;
                font-family: museosans-bold;
            }
            pic {
                flex: 0 0 40px;
                margin: 5px;
            }
            product {
                flex: 0 0 80px;
            }
            qty {
                flex: 0 0 30px;
                display: block;
                widht: 30px;
                text-align: center;
            }
            price {
                flex: 0 0 40px;
            }
            actions {
                flex: 0 0 30px;
                margin: 3px;
            }
        }
    }
    message {
        flex: 0 0 150px;
        font-weight: bold;
        font-style: italic;
    }
    summary {
        display: flex;
        flex-direction: column;
        margin-right: 15px;
        margin-top: 10px;
        font-family: museosans-bold;

        sumOfItems,
        discount,
        total {
            width: 80%;
            display: flex;
            flex-layout: row;
            justify-content: space-between;
        }
        discount {
            strong {
                text-decoration: line-through;
                color: red;
            }
        }
        total {
            strong {
                color: green;
            }
        }
    }
}
