item-row {
    item {
        display: flex;
        flex-direction: row;
        align-items: center;
        // background-color: darkgrey;
        min-width: 400px;
        width: 98%;
        border-bottom: 1px dotted rgb(255, 160, 0);
        padding: 10px;
        pic {
            flex: 1 1 40px;
            display: block;
            // margin: 3px;
            width: 120px;
            height: 80px;
            max-width: 120px;
            padding: 10px;
            // border: 1px red solid;
            img {
                width: 100%;
                height: 100%;
                border-radius: 10px;
                // border: 1px red solid;
            }
        }
        product {
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            name {
                font-family: museosans-bold;
                // font-weight: bolder;
            }
            description {
                font-style: italic;
            }
        }
        price {
            flex: 0 0 40px;
            font-style: italic;
            padding-right: 5px;
        }
        actions {
            flex: 0 0 80px;
            margin: 3px;
            button {
                height: 50px;
                width: 80px;
                margin-right: 10px;
                img {
                    width: 40px;
                    height: 40px;
                }
            }
        }
        &.adding {
            background-color: lightgreen;
        }
        &.adding-add,
        &.adding-remove {
            transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
        }        
    }
}
