<item ng-class="{'adding':$ctrl.addInProgress}">
    <pic>
        <img ng-src="{{$ctrl.item.img}}">
    </pic>
    <product ng-class="{'adding':$ctrl.addInProgress}">
        <name>{{$ctrl.item.name}}</name>
        <description>some description here</description>
    </product>
    <price>{{$ctrl.item.price | currency}}</price>
    <actions>
        <button ng-click="$ctrl.addToCart()" ng-disabled="$ctrl.addInProgress">
            <text ng-show="!$ctrl.addInProgress">Add to cart</text>
            <img ng-show="$ctrl.addInProgress" src="assets/images/_loading.gif" />
        </button>
    </actions>
</item>
