@frontEnd-MinWidth: 500px;
front-end {
	min-width: @frontEnd-MinWidth;
	overflow-y: none;
	// background-color: lightgrey;
                    
    h2 {
        font-family: museosans-bold;
        font-size: 24px;
        margin: 0;
        // color: red;
        // font-weight: bolder;
    }
}
