<item ng-class="{'removing':$ctrl.removeInProgress}">
    <pic>
        <img ng-src="{{$ctrl.item.img}}">
    </pic>
    <product  >
        <name>{{$ctrl.item.name}}</name>
    </product>
    <qty><span>{{$ctrl.item.count || 0}}</span></qty>
    <price><span>{{$ctrl.item.price | currency}}</span></price>
    <actions>
        <button ng-click="$ctrl.removeFromCart()" ng-disabled="$ctrl.removeInProgress">
            <text ng-show="!$ctrl.removeInProgress">&#x2718;</text>
            <img ng-show="$ctrl.removeInProgress" src="assets/images/_loading.gif" />
        </button>
    </actions>
</item>
