shopping-cart-item {
    item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        min-width: 200px;
        width: 90%;
        border-bottom: 1px dotted rgb(255, 160, 0);
        font-size: 0.8em;
        & > * {
            // border: 1px red dotted;
        }
        pic {
            flex: 0 0 40px;
            display: block;
            margin: 5px;
            img {
                width: 40px;
                height: 30px;
                border-radius: 10px;
                // border: 1px red solid;
            }
        }
        product {
            flex: 0 0 80px;
            display: flex;
            flex-direction: column;
            name {
                font-style: strong;
                font-size: 14px;
            }
            description {
                font-style: italic;
            }
        }
        qty {
            flex: 0 0 30px;
            text-align: center;
        }
        price {
            flex: 0 0 40px;
            text-align: right;
        }
        actions {
            flex: 0 0 30px;
            margin: 3px;
            button {
                height: 30px;
                width: 30px;
                border-radius: 3px;
                border: none;
                background-color: transparent;
                text {
                    color: red;
                }
                img {
                    width: 15px;
                    height: 15px;
                }
            }
        }
        &.removing {
            background-color: lighten(red, 10%);
        }
        &.removing-add,
        &.removing-remove {
            transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
        }
    }
    /*&.ng-enter,
    &.ng-enter-active {
        opacity: 0.9;
        // padding-left: 50px;
        background-color: lighten(green, 10%);
        transition: all ease 450ms;
    }*/
}
