<main-content>
    <top-nav></top-nav>
    <panes>
        <pane main>
            <h1>Online Shop</h1>
            <section ng-outlet></section>
        </pane>
        <pane shoppingCart>
            <shopping-cart></shopping-cart>
        </pane>
    </panes>
</main-content>
