reevoo-shop-app {
    main-content {
        display: flex;
        flex-direction: column;
        // background-color: wheat;
        // border: 1px red dotted;
        height: 100%;
        panes {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 100%;
            // padding: 0 10px;
            pane {
                // height: 100%;
                &[main] {
                    flex: 1 0 auto;
                    height: 100%;
                    overflow-y: none;
                    padding: 50px;
                    h1 {
                        //heading style
                        // color: red;
                        font-family: museosans-medium;
                        font-size: 40px;
                        margin: 0;
                        &::after {
                            display: block;
                            content: "";
                            width: 60px;
                            height: 4px;
                            margin-top: 40px;
                            margin-bottom: 40px;
                            border-bottom-color: #ffa000 !important;
                            // border-color: blue !important;
                            border-bottom-width: 4px;
                            border-bottom-style: solid;
                        }
                    }
                    section {
                        // background-color: yellow;
                        flex:1 1 auto;
                        // width: 800px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        height: 100%;
                        /*&:nth-of-type(1) {
                            flex: 1 1 auto;
                        }*/
                    }
                }
                &[shoppingCart] {
                    flex: 0 0 300px;
                    min-width: 300px;
                }
            }
        }
    }
}
