about {
    section {
        h2 {
            font-family: museosans-bold;
            font-size: 24px;
            margin: 0;
            // color: red;
            // font-weight: bolder;
        }
        description{
        	font-family: museosans-lite;
        	font-size: 14px;
        }
    }
}
